MIDTRANS_SERVER_KEY=<SET_IN_VERCEL>

MIDTRANS_IS_PRODUCTION=false

FIREBASE_PROJECT_ID=<SET_IN_VERCEL>
FIREBASE_CLIENT_EMAIL=<SET_IN_VERCEL>
FIREBASE_PRIVATE_KEY=<SET_IN_VERCEL>

ALLOWED_ORIGINS=http://localhost:8081
APP_DEEP_LINK_SCHEME=urbarber
PAYMENT_RETURN_BASE_URL=http://localhost:8081