# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Next.js / Admin Web build output
.next/
**/.next/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
firebase-debug.log
firestore-debug.log
ui-debug.log

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

example

# generated native folders
/ios
/android
.env
.env.local

# secrets & private credentials
secrets/
firebase-service-account.json

docs/figma/screenshots/*.png
docs/figma/screenshots/admin/*.png
docs/figma/screenshots/customer/*.png
docs/figma/screenshots/barber/*.png
docs/figma/screenshots/auth/*.png
docs/figma/screenshots/shared/profile/*.png
docs/figma/screenshots/shared/*.png

functions/.env.local
functions/.secret.local
functions/.env.*.local

backend/vercel/.env.local
backend/vercel/.env
backend/vercel/.vercel

service-account*.json
firebase-adminsdk*.json
.vercel
